.heading{
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 2px;
}
.heading span{
  color: rgb(28, 28, 194);
}
input{
  border: none;
  outline: none;
  padding: 10px;
  width: 300px;
}
.submit{
  border: none;
  border-radius: 10px;
  background-color: rgb(28, 28, 194);
  padding: 5px 10px;
  color: white;
  margin-left: 20px;
}
.form{
  border-radius: 40px;
}
.job{
  border-right: 2px solid black;
}
.dark-mode{
  background-color: black;
  color: white;
}
.white-mode{
  background-color: white;
  color: black;
}
.contai{
  width: 100%;
  height: 100vh;
}
